/* 
color pallete 
1. darkgreen: 1A281F;
2. wenge: 635255;
3. thistle: C7B2C5;
4. colombia blue: C0E8F9;
5. light blue: B8D3D1;
*/

* {
  margin: 0;
  box-sizing: border-box;
  padding: 0;
}
body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
